.root {
  flex-shrink: 0;
}

.svg {
  width: 100%;
  height: 100%;
  animation: spinner-rotate 1.4s linear infinite;
}

.circle {
  stroke: currentColor;
  stroke-linecap: round;
  animation: spinner-dash 1.4s ease-in-out infinite;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .svg,
  .circle {
    animation: none;
  }
}
